<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>StockSphere Dashboard</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
          rel="stylesheet">

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

</head>


<body class="bg-light">


<nav class="navbar navbar-dark bg-dark">

    <div class="container">

        <a class="navbar-brand fw-bold" href="/">
            📦 StockSphere
        </a>


        <div>

            <a href="/products" class="btn btn-outline-light btn-sm">
                Products
            </a>

            <a href="/add-product" class="btn btn-success btn-sm">
                Add Product
            </a>

        </div>

    </div>

</nav>



<div class="container mt-5">


    <h2 class="mb-4">
        📊 Dashboard
    </h2>



    <div class="row g-4">


        <div class="col-md-3">

            <div class="card shadow p-3">

                <h6>Total Products</h6>

                <h2 th:text="${totalProducts}">
                    0
                </h2>

            </div>

        </div>




        <div class="col-md-3">

            <div class="card shadow p-3">

                <h6>Categories</h6>

                <h2 th:text="${categories}">
                    0
                </h2>

            </div>

        </div>




        <div class="col-md-3">

            <div class="card shadow p-3">

                <h6>Low Stock</h6>

                <h2 th:text="${lowStock}">
                    0
                </h2>

            </div>

        </div>




        <div class="col-md-3">

            <div class="card shadow p-3">

                <h6>Inventory Value</h6>

                <h2>
                    ₹ <span th:text="${totalValue}">0</span>
                </h2>

            </div>

        </div>



    </div>




    <div class="card shadow mt-5 p-4">


        <h4>
            Recent Products
        </h4>


        <table class="table">

            <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Quantity</th>
            </tr>


            <tr th:each="product : ${products}">

                <td th:text="${product.productName}"></td>

                <td th:text="${product.category}"></td>

                <td th:text="${product.quantity}"></td>


            </tr>


        </table>


    </div>



</div>

<footer class="bg-dark text-white text-center py-3 mt-5">
    <small>
        © 2026 <strong>StockSphere</strong> | Inventory Management System |
        Developed by <strong>Tyson</strong>
    </small>
</footer>
</body>

</html>